@model PayrollWarrant.ViewModel.WarrantSearch

<script src="~/Scripts/jquery-3.3.1.js"></script>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Warrant", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="card contact shadow-sm mb-3 p-1 bg-white rounded">
                <div class="card-header card-title">
                    <h3 class="title m-0">Payroll Warrant Search Criteria</h3>
                </div>

                <div class="card-body">
                 <p style="font-family: font-family: 'Montserrat', sans-serif;">
    <strong>@Html.LabelFor(model => model.PAYEE_NAME)</strong>
    @Html.TextBoxFor(model => model.PAYEE_NAME)<br />
    @Html.ValidationMessage("PAYEE_NAME", "", new { @class = "text-danger" })
    <br />


   <strong> @Html.LabelFor(model => model.FISCAL_YEAR)</strong>
    @Html.DropDownListFor(model => model.FISCAL_YEAR, new SelectList(ViewBag.FISCAL_YEAR, "Value", "Text"), "Select Fiscal Year")<br />
    @Html.ValidationMessage("FISCAL_YEAR", "", new { @class = "text-danger" })

    <br />

   <strong> @Html.LabelFor(model => model.CHECK_NO)</strong>
    @Html.TextBoxFor(model => model.CHECK_NO)<br />
    <br />

   <strong>@Html.LabelFor(model => model.DETAIL_TYPE)</strong>
    @Html.DropDownListFor(model => model.DETAIL_TYPE, new SelectList(ViewBag.DETAIL_TYPE, "Value", "Text"))<br />
    @Html.ValidationMessage("DETAIL_TYPE", "", new { @class = "text-danger" })<br />
</p>
                </div>
                <div class="button">

                    @*<input id="Reset" type="reset" value="Reset Form" name="Reset" />*@
                    <input id="Search" type="submit" value="Search" name="Search" />
                  

                </div>
            </div>
        </div>
    </div>
}
<br />
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="card contact shadow-sm mb-3 p-1 bg-white rounded">

                <div id="SearchResults">
                    @if (Model.SearchResults == null)
                    {
                        <p>
                            <strong>NOTE:</strong>
                            Be Specific in your search.
                            The system will only search for what has been filled out. <strong>
                                Fiscal Year, Payee Name
                                and Pay Type are required fields.
                            </strong>
                        </p>
                    }
                    else if (Model.SearchResults.Count > 0)
                    {
                        @Html.Partial("~/Views/Shared/_paging.cshtml", (string[][])ViewBag.PagingList)<br />
                        @Html.Partial("~/Views/Warrant/_Results.cshtml", Model.SearchResults)<br />
                        @Html.Partial("~/Views/Shared/_paging.cshtml", (string[][])ViewBag.PagingList)<br />
                    }
                    else
                    {
                        <strong><font size="18"><p align="center"><p>There are no inventory records that match your search.</p></font></strong>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblSearch tr:nth-child(even)").addClass("even");
            $("#tblSearch tr:nth-child(odd)").addClass("odd");
        });





    </script>
}*@


